.contenedor{
    display: flex;
    background-color: bisque;
    width: 100%;
    height: 100%;
    gap: 20px;
    flex-wrap: wrap
}

.cards{
    display: flex;
    border: solid 1px black;
    flex-wrap: wrap;
    gap: 5px;
    background-color: aqua;
    width: 100%;
    height: 300px;
    align-content: center;
    flex-direction: column;
}
.contenido{
    background-color: blue;
    width: 18%;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
}
body > div > div:nth-child(9) p{
    width: 10%;
}